{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your SkillSync account.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using SkillSync!

If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.

Best regards,
The SkillSync Team
{% endautoescape %}
